@using MagicVilla_Web.Models.DTO;
@model PaginatedListDTO;

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Villa List</h1>
        </div>
        @await Html.PartialAsync("_SearchPartial", Model)
        <div class="col text-end pt-1">
            <a asp-controller="Villa" asp-action="CreateVilla" class="btn btn-outline-primary" class="bi bi-plus-square-fill">  Create New Villa </a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Occupancy
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                VillaDTO unboxedItem = (VillaDTO)item;
                <tr>
                    <td>@unboxedItem.Name</td>
                    <td>@unboxedItem.Occupancy</td>
                    <td>@((unboxedItem.Rate).ToString("c"))</td>
                    <td style="border-bottom: none;">
                        <a asp-controller="Villa" asp-action="UpdateVilla" asp-route-villaId="@unboxedItem.Id" class="btn btn-success"> <i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="Villa" asp-action="DeleteVilla" asp-route-villaId="@unboxedItem.Id" class="btn btn-danger"> <i class="bi bi-trash-fill"></i></a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    @await Html.PartialAsync("_PaginationPartial", Model)
</div>