@using MagicVilla_Web.Models.DTO;
@using System.Text.RegularExpressions;

@model PaginatedListDTO;

@{
    string mainViewName = ViewContext.ActionDescriptor.DisplayName;
    string pattern = @"(?<Controller>\w+)Controller\.(?<Action>\w+)\s*\(.+";
    Match match = Regex.Match(mainViewName, pattern);
    string controllerName = match.Groups["Controller"].Value;
    string actionName = match.Groups["Action"].Value;
    var a = 5;
}

<div class="row justify-content-between align-items-center">
    <div class="col-auto">
        @if (Model.HasPreviousPage)
        {
            <a asp-action=@actionName asp-controller=@controllerName asp-route-pageNumber="1" class="btn btn-default">
                First Page
            </a>
        }
    </div>

    <div class="col-auto">
        @if (Model.HasPreviousPage)
        {
            <a asp-action=@actionName asp-controller=@controllerName asp-route-pageNumber="@(Model.PageNumber-1)" class="btn btn-default">
                Previous Page
            </a>
        }
    </div>
    <div class="col-auto">
        @if (Model.HasNextPage)
        {
            <a asp-action=@actionName asp-controller=@controllerName asp-route-pageNumber="@(Model.PageNumber+1)" class="btn btn-default">
                Next Page
            </a>
        }
    </div>
    <div class="col-auto">
        @if (Model.HasNextPage)
        {
            <a asp-action=@actionName asp-controller=@controllerName asp-route-pageNumber="@(Model.TotalPages)" class="btn btn-default">
                Last Page
            </a>
        }
    </div>
</div>

<div class="row justify-content-center mt-3">
    <div class="col-auto">
        <div class="d-flex align-items-center">
            <span class="mr-3">Results per page:</span>&nbsp;&nbsp;
            <form asp-action=@actionName asp-controller=@controllerName>
                <select name="pageSize" asp-for="@Model.PageSize" onchange="javascript:this.form.submit()" class="form-select" style="width: 6em;">
                    <option disabled>Choose...</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </form>
        </div>
    </div>
    <div class="col-auto d-flex align-items-center">
        @if (Model.Items.Any())
        {
            <div class="align-self-center">
                Displaying results @((Model.PageNumber - 1) * Model.PageSize + 1) to
                @((Model.PageNumber - 1) * Model.PageSize + Model.Items.Count()) of @Model.EntriesCount
            </div>
        }
        else
        {
            <span>No entries to display</span>
        }
    </div>
</div>
